<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
    type="text/css" />
</head>

<body>
  <table style="
        width: 100%;
        max-width: 800px;
        border: 0px;
        border-spacing: 0px;
        border-collapse: separate;
        margin-right: auto;
        margin-left: auto;
      ">
    <tr style="padding: 0px">
      <td style="padding: 0px">
        <table style="
              width: 100%;
              border: 0px;
              border-spacing: 0px;
              border-collapse: separate;
              margin-right: auto;
              margin-left: auto;
            ">
          <tr style="padding: 0px">
            <td style="padding: 2.5%; width: 60%; vertical-align: middle">
              <h1>Yuanzhe Liu</h1>
              <p>
                I am an incoming Ph.D. student in Computer Science at the
                University of Illinois Urbana-Champaign. Previously, I received my M.S. in
                Data Science from the University of Pennsylvania and my B.S. in
                Mathematics from the University of Wisconsin-Madison.
              </p>
              <p>
                My research focuses on generative models and reinforcement
                learning for embodied robotics, with the goal of enabling
                embodied agents to perceive, reason, and plan in the physical
                world. I hope to solve real-world challenges, transforming cutting-edge research into practical, scalable solutions.
              </p>
              <p style="text-align: center">
                <a target="_blank" href="mailto:yuanzhel@seas.upenn.edu">
                  Email</a>
                &nbsp;/&nbsp;
                <a href="https://github.com/yuanzhel0903">GitHub</a>
                &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=BkjxjvoAAAAJ&hl=zh-CN">Google Scholar</a>
              </p>
            </td>
            <td style="padding: 2.5%; width: 40%; max-width: 40%">
              <img style="width: 100%; max-width: 100%; aspect-ratio: 1 / 1; border-radius: 50%; object-fit: cover" alt="profile photo" src="images/yuanzhel.png" />
            </td>
          </tr>
        </table>

        <table style="
              width: 100%;
              border: 0px;
              border-spacing: 0px;
              border-collapse: separate;
              margin-right: auto;
              margin-left: auto;
            ">
          <tr>
            <td style="padding: 2.5%; width: 100%; vertical-align: middle">
              <h2>News</h2>
              <ul>
                <li>
                  [2026/05] I've completed my master's degree at UPenn. Thank you to my advisors and friends for all
                  your support!
                </li>
                <li>
                  [2026/02] PALM is accepted to CVPR 2026, my first robotics research paper. See you in Denver!
                </li>
                <li>
                  [2025/09] SpatialReasoner is accepted to NeurIPS 2025. Thanks to my collaborators at Google,
                  the University of Illinois Urbana-Champaign, and Shanghai Jiao Tong University.
                </li>
              </ul>
            </td>
          </tr>
        </table>

        <table style="
              width: 100%;
              border: 0px;
              border-spacing: 0px;
              border-collapse: separate;
              margin-right: auto;
              margin-left: auto;
            ">
          <tr>
            <td style="padding: 2.5%; width: 100%; vertical-align: middle">
              <h2>Selected Publications</h2>
              --> For the full publication list, please refer to my
              <a href="https://scholar.google.com/citations?user=BkjxjvoAAAAJ&hl=zh-CN">Google
                Scholar</a>.
              <!-- <p>
                &dagger; denotes corresponding author. * denotes equal
                contribution.
              </p> -->
              <!-- Value: init categories_list with a long string -->
              {% assign categories_list = "All Selected Publications,3D Vision and Embodied Perception,Robust Robot Learning,Reinforcement Learning" | split: "," %}

              <table style="
                    width: 100%;
                    border: 0px;
                    margin-right: auto;
                    margin-left: auto;
                  ">
                <tr>
                  <td style="text-align: left">
                    <a href="#" onclick="event.preventDefault();showTable('{{categories_list[0]}}')"
                      class="nav-link">All Selected Publications</a>
                  </td>
                  <td style="text-align: left">
                    <a href="#" onclick="event.preventDefault();showTable('{{categories_list[1]}}')"
                      class="nav-link">3D Vision and Embodied Perception</a>
                  </td>
                </tr>
                <tr>
                  <td style="text-align: left">
                    <a href="#" onclick="event.preventDefault();showTable('{{categories_list[2]}}')"
                      class="nav-link">Robust Robot Learning</a>
                  </td>
                  <td style="text-align: left">
                    <a href="#" onclick="event.preventDefault();showTable('{{categories_list[3]}}')"
                      class="nav-link">Reinforcement Learning</a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <br />
        <!-- Layout: Create a table for each publication category. -->
        <div id="table-container">

          {% for category in categories_list %}
          <table id="{{category}}" style="
                width: 100%;
                border: 0px;
                border-spacing: 0px;
                border-collapse: separate;
                margin-right: auto;
                margin-left: auto;
              ">
            {% for post in site.posts %} {% if post.sub_fields == category or post.sub_fields2 == category or "All Selected Publications" == category%}
            <tr>
              <td style="
                    padding: 2.5%;
                    width: 25%;
                    vertical-align: middle;
                    min-width: 120px;
                  ">
                <img src="/{{post.image}}" alt="project image" style="width: auto; height: auto; max-width: 100%" />
              </td>
              <td style="padding: 0%; width: 75%; vertical-align: middle">
                <h3>{{post.title}}</h3>
                <br />
                {{post.authors}}
                <br />
                <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }} {% if
                post.highlight %}
                <br />
                <font style="color: red">{{post.highlight}}</font>
                {% endif %}
                <br />
                {% if post.page %}
                <a href="{{post.page}}">project page</a> / {% endif %} {% if
                post.arxiv %} <a href="{{post.arxiv}}">arXiv</a> {% endif %}
                {% if post.code %} / <a href="{{post.code}}"> code</a>
                {% endif %}
                <p></p>
                {{ post.excerpt }}
              </td>
            </tr>
            {% endif %} {% endfor %}
          </table>
          {% endfor %}
        </div>

        <table style="
              width: 100%;
              border: 0px;
              border-spacing: 0px;
              border-collapse: separate;
              margin-right: auto;
              margin-left: auto;
            ">
          <tr>
            <td style="padding: 2.5%; width: 100%; vertical-align: middle">
              <h2>Selected Awards</h2>
              <ul>
                <li>Best Systems Paper Finalist, RSS 2025</li>
                <li>Best Paper Candidate Award, ECCV 2024</li>
                <li>World's Top 2% Scientist, Stanford University</li>
                <li>Most Influential CVPR Papers, OC-SORT in CVPR 2023</li>
                <li>
                  Best Paper Award of Workshop on 3D Object Detection from
                  Images, ICCV 2021
                </li>
                <!-- <li>Doctoral Consortium Award, CVPR 2021</li> -->
                <li>
                  1st runner up at Waymo 2D Object Tracking Challenge, CVPR
                  2020
                </li>
                <li>Outstanding Reviewer, ICCV 2019</li>
                <li>
                  1st prize at COCO Object Detection Challenge (without
                  external data), ICCV 2019
                </li>
                <li>
                  1st prize at COCO Object Detection Challenge, ECCV 2018
                </li>
              </ul>
            </td>
          </tr>
        </table>
        <!-- 
        <table style="
              width: 100%;
              border: 0px;
              border-spacing: 0px;
              border-collapse: separate;
              margin-right: auto;
              margin-left: auto;
            ">
          <tr>
            <td style="padding: 2.5%; width: 100%; vertical-align: middle">
              <h2>Services</h2>
              <ul>
                <li>
                  Conference Reviewer: CVPR, ICCV, ECCV, RSS, CoRL, NeurIPS,
                  ICLR, ICML, AAAI, IROS, ACCV
                </li>
                <li> -->
        <!-- Journal Reviewer: TPAMI, IJCV, TRO, TIP, RA-L, TGRS,
                  Neurocomputing, Pattern Recognition Letters, Signal
                  Processing Letters
                </li>
              </ul>
            </td>
          </tr>
        </table> -->

        <table style="
              width: 100%;
              border: 0px;
              border-spacing: 0px;
              border-collapse: separate;
              margin-right: auto;
              margin-left: auto;
            ">
          <tr>
            <td style="padding: 0px">
              <br />
              <p style="text-align: center; font-size: small">
                <a href="https://www.easycounter.com/">
                  <img src="https://www.easycounter.com/counter.php?yuanzhel0903" border="0" alt="HTML Counter" /></a>
                <br />
                Design and source code from
                <a style="font-size: small" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <script>
    // Function: Show the table with the given ID and hide other tables.
    function showTable(tableId) {
      const tables = document.querySelectorAll("#table-container table");
      tables.forEach((table) => {
        table.style.display = table.id === tableId ? "table" : "none";
      });

      const navLinks = document.querySelectorAll(".nav-link");
      navLinks.forEach((link) => {
        link.style.color = "#007BFF";
        const onclickValue = link.getAttribute("onclick");
        const clickedId = onclickValue.match(/'([^']+)'/)[1];
        if (clickedId === tableId) {
          link.style.color = "red";
        }
      });
    }

    document.addEventListener("DOMContentLoaded", () => {
      showTable("All Selected Publications");
    });
  </script>
</body>

</html>
